<div class="projects_back">

<h1> <a [routerLink]="['/home']" > <i class="fas fa-home"></i> </a>
 Here You Can View All of The Projects I Have Worked On!</h1>

  <div class="container">
    <div class="row">
      <div class="col-sm">
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="assets/images/SOG.png" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Sum of Gaussians</h5>
            <p class="card-text"> Developed a software agent in C++ to find the maximum value of the Sum of Gaussians (SoG) function.</p>
            <a href="https://github.com/Rushdi97/AI-projects/tree/master/Optimization" class="btn btn-primary">View Source Code</a>
          </div>
        </div>
      </div>
      <div class="col-sm">
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="assets/images/Astar.png" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Astar</h5>
            <p class="card-text">Generate a random board based on random seed and amount of shuffles from user input.
            Then find your way back to original board before shuffle.</p>
            <a href="#" class="btn btn-primary">View Source code</a>
          </div>
        </div>
      </div>
      <div class="col-sm">
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="assets/images/img_coming_soon.png" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Project title</h5>
            <p class="card-text">Project description.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm">
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="assets/images/img_coming_soon.png" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Project title</h5>
            <p class="card-text">Project description.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
      <div class="col-sm">
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="assets/images/img_coming_soon.png" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Project title</h5>
            <p class="card-text">Project description.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
      <div class="col-sm">
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="assets/images/img_coming_soon.png" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Project title</h5>
            <p class="card-text">Project description.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
    </div>



  </div>

</div>

<router-outlet></router-outlet>
