<!-- cards -->
<body>
<div class="card" style="width: 18rem;">
  <img src="assets/images/img_projects.jpg" class="card-img-top" alt="Projects">
  <div class="card-body">
    <h5 class="card-title">Projects</h5>
    <p class="card-text">Here you can view some projects that I have worked on and the tools used to build them.</p>
    <a routerLink="/projects" class="btn btn-primary">View Porjects</a>
  </div>
</div>
<div class="card1" style="width: 18rem;">
  <img src="assets/images/img_resume.jpg" class="card-img-top" alt="Resume">
  <div class="card-body">
    <h5 class="card-title">Resume</h5>
    <p class="card-text">Here you can take a quick look at my resume which includes experience, education, etc.</p>
    <a routerLink="/resume" class="btn btn-primary">View Resume</a>
  </div>
</div>
</body>
