<head>
  <<title>Home</title>
</head>
<body>
<div class="home">



<ul class="nav justify-content-center">
  <a href="https://www.linkedin.com/in/rushdi-al-hasan-7a5433163/" >
  <i class="fab fa-linkedin fa-3x"></i>
  </a>
  <a href="https://www.github.com/Rushdi97" >
    <i class="fab fa-github fa-3x"></i>
  </a>
</ul>

<div class="alert bg-warning alert-dismissible fade show" role="alert">
 <strong>ATTENTION!!! </strong>
  <p> <strong>This website is still under construction, but feel free to look around!</strong></p>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="accordion" id="accordionExample">
  <div class="card">
    <div class="card-header" id="headingOne">
      <h2 class="mb-0">
        <button class="btn btn-link" href="" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          <a [routerLink]="['/projects']">Projects
            </a>
        </button>
      </h2>
    </div>
</div>
  <div class="card">
    <div class="card-header" id="headingTwo">
      <h2 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          <a [routerLink]="['/resume']">Resume
            </a>

        </button>
      </h2>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingThree">
      <h2 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          About Me
        </button>
      </h2>
    </div>
    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
      <div class="card-body">
      I am a current Middle Tennessee State University student majoring in Computer Science.
      I have a passion for designing and implementing web based applications.
      Gives me room to be creative when it comes to designing websites for others who don't have much experince with it.
      Nevertheless, I enjoy Computer science as a whole, and love programming.
      I found my passion for web development through an Information Technology class I took for fun, in which we had to design and present our very own website.
      Go ahead and explore my website to find out more about my experience and projects that I have worked on. Also, feel free to go to the above links to my Linkedin and GitHub page!
      </div>
    </div>
  </div>
</div>




<!--
<div class="container">
  <img src="/assets/images/img_me.jpg" alt="Avatar" class="image" >

</div>
  -->
</div>
</body>
